[project]
	description = Airtunes emulator! Note that version 1.0 has just emerged from complete rewrite and has been promoted to the master branch.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AlexSeverinov
[access "refs/for/refs/*"]
	read = group user/AlexSeverinov
	push = group user/AlexSeverinov
	label-Code-Review = -2..+2 group user/AlexSeverinov
	label-Verified = -1..+1 group user/AlexSeverinov
	rebase = group user/AlexSeverinov
	removeReviewer = group user/AlexSeverinov
	submit = group user/AlexSeverinov
[access "refs/heads/*"]
	read = group user/AlexSeverinov
	create = group user/AlexSeverinov
	push = +force group user/AlexSeverinov
	pushMerge = group user/AlexSeverinov
[access "refs/tags/*"]
	push = +force group user/AlexSeverinov
	pushTag = group user/AlexSeverinov
	pushSignedTag = group user/AlexSeverinov
